.Profile{
    height: 110vh;
    background-color: #F5F5F5;
    margin-top: -25px;
    padding-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 67px;
   
}

h1, h2, p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.profile-photo-box{
   
    width: 250px;
    height: 250px;
    
}
.profile-photo-box img{
    border-radius: 20px;
}